services:
  corrosion1:
    container_name: corrosion1
    hostname: corrosion1
    image: corrosion:$SHORT_COMMIT
    environment:
      - RUST_LOG=corro=debug
    volumes: 
      - ./volumes/corrosion1:/var/lib/corrosion

  corrosion2:
    container_name: corrosion2
    hostname: corrosion2
    image: corrosion:$SHORT_COMMIT
    volumes: 
      - ./volumes/corrosion2:/var/lib/corrosion
    environment:
      - RUST_LOG=corro=debug

  corrosion3:
    container_name: corrosion3
    hostname: corrosion3
    image: corrosion:$SHORT_COMMIT
    volumes: 
      - ./volumes/corrosion3:/var/lib/corrosion
    environment:
      - RUST_LOG=corro=debug

  corro-client:
    container_name: corro-client
    hostname: corro-client
    image: corro-client:$SHORT_COMMIT
