on:
  push:
    branches: [ main ]
  pull_request:
    branches:
      - main

name: CI
env:
  RUSTFLAGS: -D warnings --cfg tokio_unstable
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: Test
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: aarch64-apple-darwin
            os: macos-latest
          - target: x86_64-unknown-linux-gnu
            os: ubuntu-latest
    
    runs-on: ${{ matrix.os }}

    env:
      SCCACHE_GHA_ENABLED: "true"
      RUSTC_WRAPPER: "sccache"

    steps:
      - uses: actions/checkout@v4

      - name: Install and Display Rust specified toolchain
        run: rustup show
        
      - name: Install cargo-nextest
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-nextest

      - name: Run sccache-cache
        uses: mozilla-actions/sccache-action@v0.0.9
          with:
            version: "v0.10.0"

      - name: Run formatting check
        run: cargo fmt --check

      - name: Test with latest nextest release
        run: cargo nextest run --profile ci --workspace --target ${{ matrix.target }}
  
  book-test:
    name: Build book
    runs-on: ubuntu-latest
    permissions:
      contents: write  # To push a branch 
      pull-requests: write  # To create a PR from that branch
    steps:
      - uses: actions/checkout@master
      
      - uses: dtolnay/rust-toolchain@stable

      - uses: taiki-e/install-action@v2
        with:
          tool: mdbook,mdbook-linkcheck,mdbook-admonish

      - name: Build Book
        run: mdbook build
